<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <h1>
        Comparateur du prix immobilier
    </h1>
    <p>
        <%= message %>
    </p>
    <form method = "get" action = "/process">
        <input type="text"
            name = "URLLBC">
        <button type = "submit">
    </form>
</body>

</html>